
h1{
    font-size: bold;
    font-family: cursive;
}
h4{
    font-size: bold;
    font-family: cursive;
}

footer{
    background-color: gris;
}
.producto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 200px;
    padding: 0px;
    margin: 5px;
    box-shadow: 6px 1px 22px 1px rgba(191,184,191,1);

}
.producto button{
    width: 100%;
}
.location{
    margin-bottom: 10px;
}
.jumbotron{
    margin-top: 60px;
}
.tab-content{
    padding-top: 20px;
}
.carousel-indicators,
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}