$Amarillo: #ff2;
$Rojo: #e33030;
$Fondo: #c9b9b7;
$Gris: #e9ecef;

@mixin letra($tipo, $tamaño) {
	font-family: $tipo;
	font-size: $tamaño;
}

body {
	background-color: $Fondo;
}
h1 {
	@include letra(cursive, bold);
}

h4 {
	@include letra(cursive, bold);
}

footer {
	background-color: $Gris;
}

.producto {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1 200px;
	padding: 0px;
	margin: 5px;
	box-shadow: 6px 1px 22px 1px #bfb8bf;
}

.producto button {
	width: 100%;
}

.location {
	margin-bottom: 10px;
}

.jumbotron {
	margin-top: 60px;
}

.tab-content {
	padding-top: 20px;
}

.carousel-indicators,
.carousel-control-next,
.carousel-control-prev {
	filter: invert(100%);
}
