@Verde: #25ba1a;
@Gris: #e9ecef;

.letra(@tipo, @tamano) {
	font-family: @tipo;
	font-size: @tamano;
}

body {
	background-color: @Verde;
}

h1 {
    .letra(cursive, bold)
}

h4 {
    .letra(cursive, bold)
}

footer {
	background-color: @Gris;
}

.producto {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1 200px;
	padding: 0px;
	margin: 5px;
	box-shadow: 6px 1px 22px 1px #bfb8bf;
}

.producto button {
	width: 100%;
}

.location {
	margin-bottom: 10px;
}

.jumbotron {
	margin-top: 60px;
}

.tab-content {
	padding-top: 20px;
}

.carousel-indicators,
.carousel-control-next,
.carousel-control-prev {
	filter: invert(100%);
}
