body {
  background-color: #c9b9b7; }

h1 {
  font-family: cursive;
  font-size: bold; }

h4 {
  font-family: cursive;
  font-size: bold; }

footer {
  background-color: #e9ecef; }

.producto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 200px;
  padding: 0px;
  margin: 5px;
  box-shadow: 6px 1px 22px 1px #bfb8bf; }

.producto button {
  width: 100%; }

.location {
  margin-bottom: 10px; }

.jumbotron {
  margin-top: 60px; }

.tab-content {
  padding-top: 20px; }

.carousel-indicators,
.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%); }
